@media only screen and (max-width: 576px) {
    .brand-wrapper img {
        width: 4rem;
    }

    .logo-text {
        padding-left: 0.8rem;
        padding-right: 0rem;
        font-size: 1.1rem;
    }

    #demo .carousel-inner .carousel-item img {
        height: calc(100vw * (9/16));
    }

    #about-header {
        text-transform: uppercase;
        color: brown;
        font-family: "'Montaga', serif";
        font-weight: bolder;
        font-size: 1.2rem;
    }

    .about-content {
        font-family: "'Montaga', serif";
        font-size: 0.9rem;
        line-height: 1.2;
    }

    /* header */
    /* header */
    .header-title {
        font-size: 1.2rem;
    }

    i.fa-circle {
        top: 0.4rem;
    }

    i.fa-circle:first-child,
    i.fa-circle:last-child {
        top: 0.6rem;
    }


}