:root {
    --topbar-background-color: #421400ff;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("./images/background-texture.png");

}

#background-top {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 350px;
    background-color: var(--topbar-background-color);
    background-image: url("./images/topbar-background-texture.png");
}

/* translation */
.mal {
    display: none;
    font-family: "'Manjari', sans-serif";
}

.btn-trans {
    z-index: 1000;
    padding: 5px 10px;
    font-size: 0.7rem;
    background-color: transparent;
    color: white;
    box-shadow: -1px 1px 6px 0px black;

}


/* navbar */

.outer {
    display: flex;
    align-items: center;
}

.logo-text {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    text-transform: uppercase;
    font-family: "'Montaga', serif";
    font-size: 1.5rem;
    font-weight: normal;
    color: #ff6e3bff;
    line-height: 1.4;
}

.bg-transparent {
    background: transparent;
}

.navbar-brand {
    width: 18rem;
}


.navbar-dark .navbar-nav .nav-link {
    color: white;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
}

/* navbar dropdown */
.dropdown-menu .dropdown-item {
    text-transform: uppercase;
    color: var(--topbar-background-color);
    font-weight: 500;
    font-size: 1rem;
}

/* about text */
.about-card {
    background-image: url("./images/about-background-texture.png");
}

#about-header {
    text-transform: uppercase;
    color: brown;
    font-family: "'Montaga', serif";
    font-weight: bolder;

}

.about-content {
    font-family: "'Montaga', serif";
    font-size: 1.2rem;
    line-height: 1.7;
}

#about .card {
    box-shadow: 0px 35px 20px -20px rgb(83, 83, 83);
}

/* header */
.header-title {
    background-color: brown;
    color: white;
    text-transform: uppercase;
    padding: 0px 12px 3px 12px;
}

i.fa-circle {
    position: relative;
    color: brown;
    margin: 0px 7px 0px 7px;
    top: 0.5rem;
}

i.fa-circle:first-child,
i.fa-circle:last-child {
    margin: 0px 1px 0px 1px;
    font-size: 8px;
    top: 0.7rem;
}

/* news */

#news p {
    font-family: "'Montaga', serif";
    font-size: 1.1rem;
}



/* footer */

.footer {
    font-family: "'Montaga', serif";
}

.footer>.container-fluid {
    background-color: var(--topbar-background-color);
    background-image: url("./images/topbar-background-texture.png");
    padding-right: 15px;
    padding-left: 15px;
    color: burlywood;
}

.footer .footer-list {
    /* border-right: solid 2px #b73d00ff; */
    border-right: solid 2px burlywood;
}

.footer .footer-list ul>li {
    text-transform: uppercase;
    list-style: none;
    font-size: 20px;
    margin-bottom: 0.6rem;
}

.footer .footer-list ul>li a {
    /* text-decoration: none; */
    color: burlywood;
}


.footer .icon-set i {
    font-size: 20px;
    color: white;
    padding: 2px;
}


/* offering */
#offerings table {
    border: 1px solid black;
    border-collapse: collapse;
}

#offerings tr {
    background-color: hsl(18, 100%, 13%);
}

#offerings tr:nth-child(2) {
    background-color: hsl(18, 100%, 11%);
}

#offerings tr:nth-child(3) {
    background-color: hsl(18, 100%, 9%);
}

#offerings tr:nth-child(4) {
    background-color: hsl(18, 100%, 7%);
}

#offerings tr:nth-child(5) {
    background-color: hsl(18, 100%, 5%);
}

#offerings tr:nth-child(6) {
    background-color: hsl(18, 100%, 3%);
}




#offerings tr th {
    border: 1px solid black;
    font-family: "'Montaga', serif";
    color: #ff6e3bff;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 400;
}

#offerings tr td {
    border: 1px solid black;
    color: white;
}